@{
    ViewBag.Title = "LaunchKey";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title!</h1>
            </hgroup>
            <p>
                This demo application includes hidden treasures ... 
            </p>
        </div>
    </section>
}

<h3>ASP.NET MVC Direct LaunchKey Integration Example</h3>
<p>This demo application shows what a direct API implementation of LaunchKey's authentication API might look like.</p>
<p>Try logging in!</p>

