<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="lk_appKey" value="8352886132"/>
    <add key="lk_appSecret" value="13jg5v4qgy3948c38t7jn8chaajr124w"/>
    <add key="lk_appPrivateKey" value="-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEA8a+i3aeZ6Mby0d95ppoxw6xIcf+3ra3q/DGvmk5MAZl6eczC
SGycjVeTXdM+D5SUi3JCdSb0V6/ZehDHlHW5iXpwK3HkqXUBgCGGfhCoahHTpW2g
iddFEwRiSXjao7kNxAIem7/CDSCniZS2gMmamTkeQQ41VE75qxdR7lxKIKX1QfuN
VZkrS7rL3/tzReppggmDcmcT1wGt6pk2C8Zm5I1bKy3EtU5ZAGVhTcx6ITCLdHPH
ROm9Nmebm+0G8/P4hSKrNUIUAfh9DjNwXH4No6SJd3SSq/vT3eb/76mWq3szE772
ppQ6/UmNLUYCtcC5ygnN9hxIsQ7WiLo44RnczwIDAQABAoIBAQCPK7N4SPvUuF5J
02+2MOu/9YQo/AosObXVVf2nlDBUVj4GfzSsQKLw2+sxjpzaD/N7M+GIkt32P/a9
58jC+oZBmaVvJxYFCIouBC4u6eFKjGrrOaj7XunNXTB4Q76JdGtiLLtDGnJy4mA9
ETqXylXp5Ls2YJtY6TvfjX38jPFgqqiKMHLc7mgxTO/J7SvfaYz24GDMkipugB7h
huySA5k0QYFBmvVQnvQMh+g8NRAGbYpIlD0VaT6hC6YtR69gPyVfEw//jfcSI42c
lWOI28WtVn6ulf+2MsAnf5KO/+LQ7XWJd6oEY5dpYaZe9sKCoFPUC1cylKU8kcZo
DRspcBIRAoGBAPtSxJUu4xnCMVhA2KvkF57ZcojCb+rQ28zDfx5oXYXnIvLfvRyQ
oQz95eCqAsscyVqXuyb1DX/0h0EMDCbd5iuxiOOIYF2qFJcOBJet+88+c1VCQeFl
DqtOr5gpkn7kWfhU/LgJB/kUgNxY0rFvQCqmdjoNgcYxb1IOVcULknypAoGBAPYu
9ZN1N8rCRWaSrGQV235G78ANuDhgirgvtVrONd2zUFncEMRXlMGQnpTqah1nlIUn
I1Hg11AzN00Y9L0jY+M+q/Pgq+M/e0rbAX+dTzxCEj6tuB02otdmAxuVJXnF4Af/
fAPV/R9HFAJmjAJNgZClhG4AA222dYAgjv05RMC3AoGADQzILmLn4e+GdmmvloVa
gKIT42wNOakssJ46HI8YxBozY18gx7nu0ujgJeFOEdPl1LFqQ2SYFdvRphwFCYOe
Lwih7gan0lVBinJs5J9hIurAPF4bY6PGtjh4v7Lw62vaDB4FnVzCsDlTU529Gv+G
2nAYVX1cDrmEaUNbSscGDTkCgYBAajEfkEA08XgvSpmI5p8z/2OkIPLe7YPehb0y
MVqu08hmesp4VWI685hK5rs1TnDyFjeLqQUtmvkRV0JSavwr7a4YdeUD5QxhncRa
m9Krta4IcHQIUM9zBOIzSWcw4bGo5hSQ/GDq2jJGHobr41PPgT+ReLds8Zz1FY/U
ejOfKQKBgQDETkJSohgD9CewSR/BuZkVTbpOaBOV0SN/McbzlySqzOdQ8ltFHKt4
+MmRYw0R53KkSlgLZf7wQvJ6otlwUT8nty+8+ywaRvZL7ZJ/8gLmCUYSmMG+HZaX
rWhh5tk7Cb85K9Duxb5AKwr+7h0tqkRHwPcBubzLBtQ+/u4Autf2mw==
-----END RSA PRIVATE KEY-----
"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
