<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />

    <pages>
      <controls>
        <add tagPrefix="LK" namespace="LaunchKey.Examples.AspNetWebForms.Controls" assembly="LaunchKey.Examples.AspNetWebForms.Controls"/>
      </controls>
    </pages>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" name="aspnetwebforms_launchkey_example"/>
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
      </providers>
    </roleManager>

    <authorization>
      
    </authorization>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <appSettings>
    <add key="lk_appKey" value="1287719494"/>
    <add key="lk_appSecret" value="2kg7pibm715dvl508uihzftiwjqp0lkn"/>
    <add key="lk_appPrivateKey" value="-----BEGIN RSA PRIVATE KEY-----
MIIEpQIBAAKCAQEA8YmQnLEZucDotbAnnaiIknYJfEpb7ECz1m+HJdh4SdoWCnFI
Vzq5RZUG3UiNJaoGB0eUyW4Tm9FPdBYY/8T56lP3WzBOsQBrY9aAptc4mBCwBvCQ
FWsckdr92UIYUtswq67FT4JSUCGGJNnfQFRYLkjxcpp0ipyblzaVG1Moad6LVpIp
qClZGqjVpW1faNE0DGtXdRjmCprIkiRW6QOjwA9QuJel8iDUbD4InelbSn7rcCA2
cUIy2FyotgjtpwIkTZMV6Wh8UPY7unuyEWae1MyUHQGM/J9u0pAedRcP4iqI5/cS
sL0LQk203FXIpJOwHrXXVB+epJnggm+oSegpMwIDAQABAoIBAA1KOnDEtduop6VH
mgZsvYcBg6gZF1G6haqo3FDSxluZ6liMvyQ9kPApMQV/9nQ6FLbV03P54I5USADl
Ll70YaPpFtUnpUzL7xzBMrb7ZJvJX0YiemsTR7Em0YzgvCHi+ZyYszaavxi1n4Hr
kwMhIPD7Bn39zafK0izRzgaA3tpkTv0Uu5fG4F737MhBqA2Ol5r2TqdKUd6ohv6N
/nA0W5gcWVIvua09FzP+glg7tUoC99Ky3DnWlFgxD9k7/dMRHebUbLm5F+WmOWys
jWgNJykGx5x5s79HTDEZJvXgeQkzUoqLIbp1jAnzsiT9buNSq8DB9KJD29ymLMkO
ujeCAPECgYEA+MJ7oSFS24emIWeily75dbTkidVAdOLGyWyU+XxWih3CK4OU2sRp
Tkmu0VQ2+GG97p/TSql4rgy9KbDoMwSpctNgG23aTNaNZXLj7DOQ149yzstbqTEF
kXnK5nKb4Fil96nR2j8asJ31ZPoffNpmVKEYOMCVCvSb5eQPDjmep80CgYEA+JFE
oXrgs/c7O2YVuoJaAPb7iut0Ztz5OLdPHfFgTNuGjEAnSy5fUc6qmFpyhtn4FvZy
MpTmL9VR+BzZzZXI72MIRbl5Vy5wSTllXMEdQMw9wRy8cyGR83fpa8LpcZVrT/Bc
SqWnARWrFTHlX3jZyyHFj4KcLJHjd8MvqxXPFP8CgYEA0btvbrfg2xRwXiO5csv5
KWOdeBRjJul4fqTcqchKUmKqrfNfkl8dBhOboAPn4NzPvRvlkkJ2bBBzgG4WJ8Wb
dCOBGT8yWaxfRJRsVF5ZlVTtkCrmmiyprDDKgCdLAwjazYfRVbf0scpL9pnn6GVe
96Vm/ZppTvZTZq00gGLWQFUCgYEAh0jhNpYfODPGDCUajGEnxUCnVUujFd0M036J
U/2scQhF6Y19FWEOxgKaPMN1c8msSislqjv6MGyE6WoibM8qBog612AEF5wRxviz
H1GHr125+qG+O1c5DW7lHx59WbF+L4rdYE9aXq/BZo66jUTEHNero9jtUSCx0dvs
1MvQ4lcCgYEAvDbt867pSHTOJfT05PYZoa2AVz9S/lfZlsm85qMgZAbB8q0XSYxU
6ngA87ctHYfU07VvIgx2WKYthrRLgO28QKtSdP2Y3DsClECcvg2iMUk2DyEvKnb2
hjPsGbNFnDsJXfthZGxI3d/RUDs/QSUQFxo2ZORjS1dGxdlFFmsctHI=
-----END RSA PRIVATE KEY-----
" />
  </appSettings>
</configuration>
