<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
    <add key="appKey" value="6679365551"/>
    <add key="secretKey" value="z79cw94ypxpjaw5jyyxhmx698rkue3i8"/>
    <add key="privateRsaKey" value="-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEA2/8xZ70KCCQtLp3R06gdx/vG16foCaM2CMV7Cj4Qj4Imt84p
5KvvUCeWBb/r6GPxKpoBBMLPDlBTSEJjGp/uh3HzS6NRjS1uNOsDPTx33t8PPBZJ
sSDzuHba+CZO7ciQy3/8rYkNf2tGgMZxwUIK5hHLdzuCaWXPInOe2nFDquEdK1P4
Ze7zawfMc5i6aOO56TKdPgP2shsBVo9yEBlfwAVcghYVh3K/uEDVQ5kxpdbrZ/Sf
cU5mGGbSC2cbUhmyZm9uBbsSvQ2Qz6yHfSHun59DLcdHNX9S/W8Bv65QEI3/0dD9
EDkr9yQrJTLiEZ76LKWtv/UT5LGvOV41idR7AQIDAQABAoIBAQDBHKmJnm8H5nmi
yfY+DPzXZzOMal9M1m/AE1mGDCUNU/oYrmgnyqUvfxA5y9aRD+nKs5ThUP/gWLJC
Y8QKwwjm7Cfc5WfYvWBYI1OclU/D25nL7OSTD5HhArQDz9zI7Z3shFSRIBUxHEGv
GIMSWZ6nhkdMSniXfD7uxv9SUMpNW91Dk6PXl3pc/FobhQKoopLU6LgB/XOLaM0g
ErRf1FC2b7vUT9kciWopfgkbeydCC3m3ihHdPzEIqbZijMjKgYvA3zUkJVMQ/EKl
zJ5ErtXGQ220ieVRSDG+BJM5HXs95Wz7rPtJsaJsE3C86mWAgqtaADkcfSAfqmFG
4LHTpwgBAoGBAPGE8xkkzkXPMR3pQnp8GjHFCIh31MhgHw7mY8lKuhbDifx3j4Ik
kU1oVf93tO9SKoY+vECzSP4ENNXgPvORY3ihnL5WRiL52nC/jxteRDkAMHWGB1YI
FnOHjgTb9EJuh5218b5VKMIha6gplE9TBmMNWcYqgEYjwGgJGhfH2mxRAoGBAOkv
5bvsvaFOjn0p5nlAY3N1vnC3kGFLswAIkzxSaqOcm+dNpqmwHxyTBcXXQ8MIlKs1
YOmMyBNHu16wyQ17rEPwj/HsEpzbhH2ldd7RcuX7BsMnRVzjlhJOKBx6IkVU+8L4
wvuzoyyTzIh2teFoXziwq9U6k8FX8mCjEUa2y2exAoGAXdN8bWQzDkOznR8lSFg2
BOe6rOmArGdLKYqvcV+qc3V7ga0g/zodiKjj398tV1vgUU7F64y66pPPwtbfHdh5
gD+omPkDPks6ZVrFyagRcON17/Iln3J85lze+1xHxBcUcFxikcKblu9M14NvrnFe
pdRl7+pK8vSopsICdQKbBEECgYBYgQ9m1iHbGV/HbaHGH4QfjG7thR5Nb1fPCXIo
kPdchdI+ZiB9gxUr2Tl1r5BOc/FJUgcoXYCKoM0i0WJdtbTaTHG11m3yDvcoYSZt
nX1IgJA+fac77D1HUVa0CD79pZWwmI4YzkN+ZdJZcQTzOpP5hkSRt5vg5CpgN0QV
XMey4QKBgCt1jyDlQPtE3kj97jxxadMlrrd8t5wt+T4/d2Kk8fY719e75pRZXNAC
d4XoNuhgv1fpH50EUKar9a7q6BJGlbOx5NIraF2eXwfU+49pru12GSnBR7oZOJ+X
ycVlEr50wmfTlUo6nppanbHU3hgwq1LmU9ji3OFISkK9z1rPnNfo
-----END RSA PRIVATE KEY-----
"/>
    <add key="publicRsaKey" value="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2/8xZ70KCCQtLp3R06gd
x/vG16foCaM2CMV7Cj4Qj4Imt84p5KvvUCeWBb/r6GPxKpoBBMLPDlBTSEJjGp/u
h3HzS6NRjS1uNOsDPTx33t8PPBZJsSDzuHba+CZO7ciQy3/8rYkNf2tGgMZxwUIK
5hHLdzuCaWXPInOe2nFDquEdK1P4Ze7zawfMc5i6aOO56TKdPgP2shsBVo9yEBlf
wAVcghYVh3K/uEDVQ5kxpdbrZ/SfcU5mGGbSC2cbUhmyZm9uBbsSvQ2Qz6yHfSHu
n59DLcdHNX9S/W8Bv65QEI3/0dD9EDkr9yQrJTLiEZ76LKWtv/UT5LGvOV41idR7
AQIDAQAB
-----END PUBLIC KEY-----
"/>
    
  </appSettings>
</configuration>
